:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
  --headings-font: "Poppins", sans-serif;
  --body-font: "Open Sans", sans-serif;
}
html {
  background-color: var(--violet);
}
body {
  background: url("./images/bg-desktop.svg");
  min-height: 100vh;
  margin: 0;
  font-family: var(--body-font);
}
.main-container {
  width: 85vw;
  margin: 0 auto;
  padding-top: 3rem;
  padding-bottom: 1rem;
}
#logo {
  width: 10rem;
  margin-bottom: 4rem;
}
.mockup-container {
  display: flex;
  justify-content: space-between;
}
.mockup-container img {
  width: auto;
  max-width: 57%;
  margin-right: 4rem;
  height: auto;
}
.mockup-text {
  padding-top: 2rem;
}
.mockup-text h1 {
  font-family: var(--headings-font);
  color: white;
  font-weight: 600;
  font-size: 2.2rem;
}
.mockup-text p {
  color: hsl(255, 44%, 86%);
  font-weight: 400;
  line-height: 1.9rem;
}
.mockup-text button {
  margin-top: 1rem;
  padding: 0.8rem 4rem;
  border-radius: 2.5rem;
  border: none;
  box-shadow: 1px 1px 10px hsl(254, 60%, 30%);
  color: var(--violet);
  font-weight: 400;
}
.social-link {
  position: absolute;
  right: 7.5vw;
  bottom: 3rem;
}
.social-link i {
  color: white;
  font-size: 1rem;
  text-align: center;
  line-height: 2.1rem;
  width: 2.1rem;
  height: 2.1rem;
  margin-left: 0.5rem;
  border-radius: 50%;
  border: 1px solid white;
}
.social-link i:hover {
  color: hsl(255, 44%, 86%);
  border-color: hsl(255, 44%, 86%);
}
.attribution {
  color: white;
}
.attribution a {
  color: hsl(255, 44%, 86%);
}
.attribution a:hover {
  color: hsl(254, 58%, 80%);
}
